.DonationBox {
  z-index: 0;
  width: 320px;
  padding: 20px;
  background-color: white;
  padding: 30px;
}
.DonationBox-form {
  color: black
}
.DonationBox-form-submit {
  margin-top: 10px;
  display: inline-block;
}
.DonationBox-form-submit-inactive {
  color: gray;
}
.DonationBox-form-submit-active {
  cursor: pointer;
}
.DonationBox-form-submit-active:hover {
  text-decoration: underline;
}
.DonationBox-title {

}
.DonationBox-select {
  display: flex;
}
.DonationBox-amount {
  margin-right: 20px;
}
.DonationBox-amount:hover {
  cursor: pointer;
  text-decoration: underline;
}
.DonationBox-amount-selected {
  margin-right: 20px;
  text-decoration: underline;
}
.DonationBox-card {
  margin: 30px 0px 10px 0px;
}
